.item-background {
    background-color: whitesmoke;
    width: 100%;
    border-radius: 8px;
}
.item-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}
.table-cell-name {
    background-color: green;
    width: 15%;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    display: flex;
    justify-content: center;
}
.table-cell-desc {
    background-color: green;
    width: 65%;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    display: flex;
    justify-content: center;
}
.table-cell-pric {
    background-color: green;
    width: 10%;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    display: flex;
    justify-content: center;
}
.table-cell-dele {
    background-color: green;
    width: 10%;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    display: flex;
    justify-content: center;
}
.name{
    text-align: center;
    justify-items: center;
}
.detalhes{
    text-align: center;
    justify-items: center;
}
.price{
    text-align: center;
    justify-items: center;
}