.card-background {
    background-color: whitesmoke;
    width: 200px;
    height: 310px;
    border-radius: 8px;
}
.image {
    display: flex;
    justify-content: center;
    width: 100%;
    max-height: 200px;
}
.image img {
    width: auto;
    height: 180px;
}
.info-1 {
    display: flex;
    flex-direction: column;
    text-align: center;
}
.title {
    margin: 0;
    font-size: 24px;
    width: 100%;
    height: 35px;
}
.description {
    margin: 0;
    font-size: 11px;
    width: 100%;
    height: 60px;
}
.info-2 {
    display: flex;
    width: 100%;
    max-height: 35px;
    justify-content: center;
}
.info-3 {
    background-color: #c1c1c1;
    border-radius: 8px;
    width: 90px;
    height: 27px;
    display: flex;
    justify-content: center;
    margin: 0 5px;
}
.info-3 p {
    text-align: center;
    margin: 0;
}
.order-button {
    background-color: transparent;
    border: 2px solid transparent;
    width: 100%;
}
.order-button:hover {
    background-color: #a4a4a4;
    border-radius: 8px;
    cursor: pointer;
}