.background {
    background-color: #000;
    /* faça com que a div que receber´essa classname preencha todo o espaço disponível */
    width: 100%;
    min-height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1; /* Certifique-se de que a div fique atrás de outros elementos */
    display: flex;
    align-items: center;
    justify-content: center;
}
.login-container {
    background-color: #fff;
    width: 55%;
    height: 55vh;
    display: flex;
    justify-content: center;
    padding: 20px;
    border-radius: 8px;
}
.image-container {
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}
.input-data {
    background-color: lightgray;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}
.input-data input {
    width: 50%;
    height: 40px;
    margin-bottom: 10px;
    padding: 0 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}